{% extends "base.html" %}
{% block main %}
    <div class="login">
        <form method="post" action="{{ url_for("login") }}" accept-charset="UTF-8">
            {% if auth_url %}
                <div>
                    <a href="{{ auth_url }}" target="_blank">Open Twitter authorize url</a>
                </div>
                <div>
                    <input name="oauth_token" id="oauth_token" type="hidden" value="{{ oauth_token }}"/>
                    <label for="oauth_verifier">Pin: </label>
                    <input name="oauth_verifier" id="oauth_verifier" type="text"/>
                </div>
            {% endif %}
            <div>
                <input name="submit" id="submit" type="submit" value="Log in via OAuth"/>
            </div>
        </form>
    </div>
{% endblock main %}