{% extends "base.html" %}
{% block main %}
    <form action="{{ url_for("status_post") }}" method="post">
        <fieldset>
            <legend>What's Happening?</legend>
            <textarea name="status" id="status">{{ preset_status }}</textarea>

            <div class="tweet-btn">
                <input type="hidden" value="{{ in_reply_to_id }}" name="in_reply_to_id" id="in_reply_to_id"/>
                {% if retweet is defined %}
                    <input type="hidden" value="{{ retweet_id }}" name="retweet_id" id="retweet_id"/>
                    <input type="submit" value="Retweet" name="retweet" id="retweet"/>
                {% endif %}
                <input type="submit" value="Tweet"/>
                <span id="remaining">{{ 140 - preset_status|default("")|length|int }}</span>
            </div>
        </fieldset>
    </form>
{% endblock main %}