a {
    text-decoration: none;
    color: #138
}

table {
    border-collapse: collapse
}

form {
    margin: .3em;
}

td {
    vertical-align: top;
    padding: 0.3em
}

img {
    border: 0
}

.small, .small a {
    font-size: small;
    color: #555
}

body {
    background: #ddd;
    color: #111;
    margin: 0
}

.odd {
    background: #fff
}

.even {
    background: #eee
}

.reply.odd {
    background: #ffa
}

.reply.even {
    background: #dd9
}

.menu {
    color: #fff;
    text-align: center;
    background: #138;
    padding: 0.125em
}

.menu a {
    color: #fff;
    text-decoration: none
}

.tweet, .features {
    padding: 0.313em
}

.date {
    padding: 0.313em;
    font-size: 0.8em;
    font-weight: bold;
    color: #555
}

.about, .time {
    font-size: 0.75em;
    color: #555
}

.avatar {
    display: block;
    height: 3em;
    width: 3em;
    left: 0.3em;
    margin: 0;
    overflow: hidden;
    position: absolute;
}

.avatar img {
    height: 3em;
    width: 3em;
}

.status {
    display: block;
    word-wrap: break-word;
}

.shift {
    margin-left: 3.5em;
    min-height: 3em;
}

@media screen and (max-device-width: 400px) {
    .avatar {
        height: 1.5em !important;
        width: 1.5em !important;
    }

    .avatar img {
        height: 1.5em !important;
        width: 1.5em !important;
    }

    .shift {
        margin-left: 1.875em !important;
        min-height: 1.5em !important;
    }
}

.from {
    font-size: 0.75em;
    color: #555;
    font-family: serif;
}

.from a {
    color: #555;
}

.login {
    margin: 1em;
    font-size: 1.2em;
}

.more {
    margin: 0.5em;
    text-align: center;
    font-size: 1.2em
}

.dialog {
    text-align: center
}