a {
    text-decoration: none;
    color: #138
}

table {
    border-collapse: collapse
}

form {
    margin: .3em;
}

td {
    vertical-align: top;
    padding: 0.3em
}

img {
    border: 0
}

.small, .small a {
    font-size: small;
    color: #555
}

body {
    background: #ddd;
    color: #111;
    margin: 0
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

.odd {
    background: #fff
}

.even {
    background: #eee
}

.reply.odd {
    background: #ffa
}

.reply.even {
    background: #dd9
}

.orig {
    background: #b0c4de
}

.menu {
    color: #fff;
    text-align: center;
    background: #138;
    padding: 0.125em
}

.menu a {
    color: #fff;
    padding: 0 2px;
    text-decoration: none
}

.tweet, .features, .profile {
    padding: 0.313em
}

.date {
    padding: 0.313em;
    font-size: 0.8em;
    font-weight: bold;
    color: #555
}

.about, .time {
    font-size: 0.75em;
    color: #555
}

.avatar {
    display: block;
    height: 3em;
    width: 3em;
    left: 0.3em;
    margin: 0;
    overflow: hidden;
    float: left;
}

.avatar img {
    height: 3em;
    width: 3em;
}

.status {
    display: block;
    word-wrap: break-word;
}

.shift {
    margin-left: 3.5em;
    min-height: 3em;
}

@media screen and (max-device-width: 320px) {
    .avatar {
        height: 1.5em !important;
        width: 1.5em !important;
    }

    .avatar img {
        height: 1.5em !important;
        width: 1.5em !important;
    }

    .shift {
        margin-left: 1.875em !important;
        min-height: 1.5em !important;
    }

    img.preview {
        width: 180px;
    }
}

.from {
    font-size: 0.75em;
    color: #555;
    font-family: serif;
}

.from a {
    color: #555;
}

.login {
    margin: 1em;
    font-size: 1.2em;
    text-align: center
}

.more {
    border: 1px solid #138;
    margin: 0.5em;
    text-align: center;
    font-size: 1.2em
}

.more a {
    width: 100%;
    display: block
}

.dialog {
    text-align: center
}

.flash {
    margin: 0.5em;
    color: #8b0000;
    text-align: center
}

.bold {
    font-weight: bold
}

#status {
    width: 100%;
    height: 8em;
}

.tweet-btn, .retweet-btn {
    margin: 0 auto;
}

.tweet-btn {
    float: right;
}

.retweet-btn {
    text-align: center;
}

.menu-bottom {
    text-align: right
}

.in-reply-to {
    margin-left: 1.5em
}

.red {
    color: red
}

.preview {
    min-height: 2em;
    min-width: 2em;
    background-color: #138;
    border-radius: 0.5em;
}