a {
    text-decoration: none;
    color: #138;
}

table {
    border-collapse: collapse;
}

form {
    margin: 5px;
}

td {
    vertical-align: top;
    padding: 5px;
}

img {
    border: 0;
}

.small, .small a {
    font-size: small;
    color: #555;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif, "Segoe UI Symbol";
    background: #ddd;
    color: #111;
    margin: 0;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

.odd {
    background: #fff;
}

.even {
    background: #eee;
}

.reply.odd {
    background: #ffa;
}

.reply.even {
    background: #dd9
}

.current {
    background: #b0c4de;
}

.menu {
    color: #fff;
    text-align: center;
    background: #138;
    padding: 1px;
}

.menu a {
    display: inline-block;
    border-color: #fff;
    color: #fff;
    padding: 0 2px;
    text-decoration: none;
}

.tweet, .features, .profile {
    position: relative;
    padding: 5px;
}

.date {
    padding: 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: #555;
}

.about, .time {
    font-size: 0.75em;
    color: #555;
}

ul.about {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avatar {
    height: 48px;
    width: 48px;
    border: 0;
    float: left;
    margin: 0 0 0 -52px;
}

.status {
    word-wrap: break-word;
}

.shift {
    margin-left: 56px;
    min-height: 48px;
}

.from {
    font-size: 0.75em;
    color: #555;
    font-family: serif;
}

.from a {
    color: #555;
}

.login {
    margin: 16px;
    font-size: 1.2em;
    text-align: center;
}

.more {
    border: 1px dotted #138;
    margin: 8px;
    text-align: center;
    font-size: 1.2em;
}

.more a {
    display: block;
    width: 100%;
}

.dialog {
    text-align: center;
}

.flash {
    margin: 8px;
    color: #8b0000;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#status {
    width: 100%;
    min-height: 128px;
}

.tweet-btn, .retweet-btn {
    margin: 0 auto;
}

.tweet-btn {
    float: right;
}

.retweet-btn {
    text-align: center;
}

.menu-bottom {
    text-align: right;
}

.in-reply-to {
    margin-left: 24px;
}

.red {
    color: red;
}

.preview {
    min-height: 32px;
    min-width: 32px;
    background-color: #138;
}

.actions {
    margin-left: 8px;
}

.actions a {
    display: inline-block;
    text-align: center;
}

.item-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-text p {
    white-space: pre-wrap;
    margin: 0;
}

.quoted_status {
    margin: 4px 0 0 0;
    border: 1px solid #138;
    padding: 4px;
}